<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.whitetown.view.mappers.BasicMapper">
    <select id="selectSharesNumWithArea" resultType="cn.whitetown.view.vo.SharesNumWithArea">
        select id,province,num from area_basic;
    </select>
</mapper>